<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.AssertLoggerFilter"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}${mdcPattern} - %msg%n%ex{5}</pattern>
        </encoder>
    </appender>

    <!-- Change the level in the following line to have more debugging (DEBUG, TRACE) -->
    <logger name="org.jobrunr" level="INFO"/>
    <logger name="org.jobrunr.server.tasks.zookeeper.ProcessRecurringJobsTask" level="TRACE"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>