<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Change the level in the following line to have more debugging (DEBUG, TRACE) -->
    <logger name="org.jobrunr" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>